.translate {
  -webkit-animation: translate 0.7s forwards ease;
  -moz-animation: translate 0.7s forwards ease;
  -ms-animation: translate 0.7s forwards ease;
  -o-animation: translate 0.7s forwards ease;
  animation: translate 0.7s forwards ease;
}

@-webkit-keyframes translate {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0.5;
  }
}
@-moz-keyframes translate {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0.5;
  }
}
@-o-keyframes translate {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0.5;
  }
}
@keyframes translate {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0.5;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.6s forwards ease;
  -moz-animation: fadeIn 0.6s forwards ease;
  -ms-animation: fadeIn 0.6s forwards ease;
  -o-animation: fadeIn 0.6s forwards ease;
  animation: fadeIn 0.6s forwards ease;
}

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translate(100%, 0);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    -moz-transform: translate(100%, 0);
    opacity: 0.5;
  }
  to {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    -o-transform: translate(100%, 0);
    opacity: 0.5;
  }
  to {
    -o-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    transform: translate(100%, 0);
    opacity: 0.5;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.translateBack {
  -webkit-animation: translateBack 0.6s forwards ease;
  -moz-animation: translateBack 0.6s forwards ease;
  -ms-animation: translateBack 0.6s forwards ease;
  -o-animation: translateBack 0.6s forwards ease;
  animation: translateBack 0.6s forwards ease;
}

@-webkit-keyframes translateBack {
  from {
    left: -100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-moz-keyframes translateBack {
  from {
    left: -100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-o-keyframes translateBack {
  from {
    left: -100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes translateBack {
  from {
    left: -100%;
    opacity: 0.5;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s forwards ease;
  -moz-animation: fadeOut 0.5s forwards ease;
  -ms-animation: fadeOut 0.5s forwards ease;
  -o-animation: fadeOut 0.5s forwards ease;
  animation: fadeOut 0.5s forwards ease;
}

@-webkit-keyframes fadeOut {
  from {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(100%, 0);
    opacity: 0.5;
  }
}
@-moz-keyframes fadeOut {
  from {
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
  to {
    -moz-transform: translate(100%, 0);
    opacity: 0.5;
  }
}
@-o-keyframes fadeOut {
  from {
    -o-transform: translate(0, 0);
    opacity: 1;
  }
  to {
    -o-transform: translate(100%, 0);
    opacity: 0.5;
  }
}
@keyframes fadeOut {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  to {
    transform: translate(100%, 0);
    opacity: 0.5;
  }
}

.scaleUp {
  -webkit-animation: scaleUp 0.35s forwards ease;
  -moz-animation: scaleUp 0.35s forwards ease;
  -ms-animation: scaleUp 0.35s forwards ease;
  -o-animation: scaleUp 0.35s forwards ease;
  animation: scaleUp 0.35s forwards ease;
}

@-webkit-keyframes scaleUp {
  from {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes scaleUp {
  from {
    -moz-transform: scale(0);
    opacity: 0.6;
  }
  to {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes scaleUp {
  from {
    -o-transform: scale(0);
    opacity: 0.6;
  }
  to {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scaleDown {
  -webkit-animation: scaleDown 0.25s forwards ease;
  -moz-animation: scaleDown 0.25s forwards ease;
  -ms-animation: scaleDown 0.25s forwards ease;
  -o-animation: scaleDown 0.25s forwards ease;
  animation: scaleDown 0.25s forwards ease;
}

@-webkit-keyframes scaleDown {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0);
    opacity: 0.6;
  }
}
@-moz-keyframes scaleDown {
  from {
    -moz-transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    opacity: 0.6;
  }
}
@-o-keyframes scaleDown {
  from {
    -o-transform: scale(1);
    opacity: 1;
  }
  to {
    -o-transform: scale(0);
    opacity: 0.6;
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0.6;
  }
}

.slideDown {
  -webkit-animation: slideDown 1s forwards ease;
  -moz-animation: slideDown 1s forwards ease;
  -ms-animation: slideDown 1s forwards ease;
  -o-animation: slideDown 1s forwards ease;
  animation: slideDown 1s forwards ease;
}

@-webkit-keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@-moz-keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@-o-keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes slideDown {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

.slideUp {
  -webkit-animation: slideUp 1s forwards ease;
  -moz-animation: slideUp 1s forwards ease;
  -ms-animation: slideUp 1s forwards ease;
  -o-animation: slideUp 1s forwards ease;
  animation: slideUp 1s forwards ease;
}

@-webkit-keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@-moz-keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@-o-keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@keyframes slideUp {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.tableFadeIn {
  -webkit-animation: tableFadeIn 0.7s forwards ease-in-out;
  -moz-animation: tableFadeIn 0.7s forwards ease-in-out;
  -ms-animation: tableFadeIn 0.7s forwards ease-in-out;
  -o-animation: tableFadeIn 0.7s forwards ease-in-out;
  animation: tableFadeIn 0.7s forwards ease-in-out;
}

@-webkit-keyframes tableFadeIn {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes tableFadeIn {
  from {
    -moz-transform: scale(0);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes tableFadeIn {
  from {
    -o-transform: scale(0);
    opacity: 0;
  }
  to {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@keyframes tableFadeIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.tableFadeOut {
  -webkit-animation: tableFadeOut 0.8s forwards ease-in-out;
  -moz-animation: tableFadeOut 0.8s forwards ease-in-out;
  -ms-animation: tableFadeOut 0.8s forwards ease-in-out;
  -o-animation: tableFadeOut 0.8s forwards ease-in-out;
  animation: tableFadeOut 0.8s forwards ease-in-out;
}

@-webkit-keyframes tableFadeOut {
  from {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0);
    opacity: 0;
  }
}
@-moz-keyframes tableFadeOut {
  from {
    -moz-transform: scale(1);
    opacity: 1;
  }
  to {
    -moz-transform: scale(0);
    opacity: 0;
  }
}
@-o-keyframes tableFadeOut {
  from {
    -o-transform: scale(1);
    opacity: 1;
  }
  to {
    -o-transform: scale(0);
    opacity: 0;
  }
}
@keyframes tableFadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.slideUpControls {
  -webkit-animation: slideUpControls 1s forwards ease;
  -moz-animation: slideUpControls 1s forwards ease;
  -ms-animation: slideUpControls 1s forwards ease;
  -o-animation: slideUpControls 1s forwards ease;
  animation: slideUpControls 1s forwards ease;
}

@-webkit-keyframes slideUpControls {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0;
  }
}
@-moz-keyframes slideUpControls {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0;
  }
}
@-o-keyframes slideUpControls {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0;
  }
}
@keyframes slideUpControls {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0;
  }
}

.slideDownControls {
  -webkit-animation: slideDownControls 4s forwards ease;
  -moz-animation: slideDownControls 4s forwards ease;
  -ms-animation: slideDownControls 4s forwards ease;
  -o-animation: slideDownControls 4s forwards ease;
  animation: slideDown ontrols 4s forwards ease;
}

@-webkit-keyframes slideDownControls {
  from {
    bottom: 0;
  }
  to {
    bottom: -200%;
  }
}
@-moz-keyframes slideDownControls {
  from {
    bottom: 0;
  }
  to {
    bottom: -200%;
  }
}
@-o-keyframes slideDownControls {
  from {
    bottom: 0;
  }
  to {
    bottom: -200%;
  }
}
@keyframes slideDownControls {
  from {
    bottom: 0;
  }
  to {
    bottom: -200%;
  }
}

.welcomePageFadeIn {
  -webkit-animation: welcomePageFadeIn 1s forwards ease;
  -moz-animation: welcomePageFadeIn 1s forwards ease;
  -ms-animation: welcomePageFadeIn 1s forwards ease;
  -o-animation: welcomePageFadeIn 1s forwards ease;
  animation: welcomePageFadeIn 1s forwards ease;
}

@-webkit-keyframes welcomePageFadeIn {
  from {
    -webkit-transform: scale(0.75);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes welcomePageFadeIn {
  from {
    -moz-transform: scale(0.75);
    opacity: 0;
  }
  to {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes welcomePageFadeIn {
  from {
    -o-transform: scale(0.75);
    opacity: 0;
  }
  to {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@keyframes welcomePageFadeIn {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
