.welcome-page-fade-in {
  transform: scale(1) !important;
  z-index: 5 !important;
  opacity: 1 !important;
  overflow-y: auto !important;
  transition: 0.75s !important;
}

.translate-in {
  overflow-y: auto !important;
  transform: translateX(0) !important;
  z-index: 5 !important;
  opacity: 1 !important;
  transition: transform 0.4s, opacity 0.1s !important;
}

.translate-out-left {
  overflow: hidden !important;
  z-index: 3 !important;
  opacity: 1 !important;
  transform: translateX(-100%) !important;
  transition: transform 0.4s !important;
}

.translate-out-right {
  overflow: hidden !important;
  opacity: 1 !important;
  z-index: 3 !important;
  transform: translate(100%) !important;
  transition: transform 0.4s !important;
}

.scale-up {
  opacity: 1 !important;
  transform: scale(1) !important;
  transition: all 0.15s, transform 0.35s, opacity 0.35s !important;
}

.scale-down {
  opacity: 0 !important;
  transform: scale(0) !important;
  transition: all 0.15s, transform 0.25s, opacity 0.25s !important;
}

.slide-down {
  z-index: 5;
  top: 0 !important;
  display: flex !important;
  transition: 0.75s !important;
}

.slide-up {
  z-index: 5;
  // display: none !importan
  top: -100% !important;
  transition: 1s !important;
}

.table-slide-in {
  animation: tableSlideIn 0.7s forwards ease;
}

@keyframes tableSlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.table-fade-out {
  opacity: 0 !important;
  transition: 0.5s !important;
}

.slide-up-controls {
  transform: translateY(0) !important;
  transition: 0.5s !important;
}

.slide-down-controls {
  transform: translateY(8rem) !important;
  transition: 0.5s !important;
}
