//The following CSS is for the landing page, that's why I named it 'critical' as it is a critical resource for rendering and page first paint

#welcome-page,
#mean-median-mode-page,
#solve-questions-page,
#further-discussion-page {
  opacity: 0;
  display: flex;
  transform: translateX(100%);

  &[data-state='hidden'] {
    display: none;
  }
}

#welcome-page {
  opacity: 0;
  z-index: 4;
  transform: scale(0.5);
}

#sign-in-page {
  overflow-y: auto;
  background: #101010;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 2.75rem 1rem;
  top: 0;
  left: 0;
  z-index: 6;

  &[data-state='hidden'] {
    display: none;
  }
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0;
  width: 100%;
}

#username {
  width: 80%;
  max-width: 22em;
  margin: 1em 0.625rem;
  padding: 0.625em 0.75em;
  border: 0.25em ridge #2b5df3;
  background: #1f54f3;
  color: white;
  outline: none;
  border-radius: 0.25em;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;

  &::placeholder {
    color: #bbb;
  }

  &:focus {
    border-color: white;
    background-color: rgb(20, 78, 255);
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 1rem rgba(20, 78, 255, 0.8);
  }
}

#sign-in,
#sign-out {
  width: auto;
  min-width: 8rem;
  margin: 0.5em;
  padding: 0.55em 2em;
  border-radius: 2em;
  border-color: tomato;
  border-width: 0.25em;
  background: rgb(255, 51, 15);
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    border-color: rgb(255, 76, 45);
  }

  &:focus {
    border-color: white;
  }

  &:hover,
  &:focus {
    background-color: rgb(255, 53, 17);
    box-shadow: 0 0 1rem rgba(255, 77, 45, 0.6);
  }
}

#remember-me-label {
  display: flex;
  align-items: center;
  justify-content: center;
  // font-style: italic;
  color: #aaa;

  input {
    transition: 0.25s;
    margin-right: 0.75em;

    &:focus {
      transform: scale(1.5);
    }
  }
}

#sign-in-page-footer {
  padding: 1rem;
  width: 100%;
  text-align: center;

  span {
    color: #444;
    display: block;
    margin: 0.25rem;
  }

  a {
    color: #888;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #ddd;
      transform: scale(1.1);
    }
  }
}

#sign-out-wrapper {
  text-align: center;
  margin: 2.5rem 0;
}

#sign-in-status {
  font-weight: bold;
  color: limegreen;
  border: 1px solid transparent;
  min-height: 1.5em;
  text-align: center;
}

// -------------------------------------------------

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  background: #101010;
  color: gainsboro;
  height: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden !important;
  font-size: 1.025rem;
  font-family: 'PT Sans', Corbel, 'Trebuchet MS', 'Calibri', 'Tahoma', Arial, sans-serif;
}

input,
button {
  font-size: inherit !important;
  font-family: inherit;
  min-height: 3rem;

  &[disabled] {
    background: rgb(95, 95, 95) !important;
    border-color: rgb(149, 149, 149) !important;
    opacity: 0.6 !important;
  }
}

button {
  cursor: pointer !important;
}

label {
  width: 100%;
  text-align: center;
}
