@import './welcome.scss';
@import './explanations.scss';
@import './solution.scss';
@import './animation.scss';

#welcome-page,
#mean-median-mode-page,
#solve-questions-page,
#further-discussion-page {
  line-height: 1.75em;
  overflow-x: hidden;
}

.username {
  display: inline;
  font-weight: bold;
}

.p {
  margin: 0;
  padding: 1rem 0;
}

.infinity {
  font: normal bolder 1.1rem 'Cambria', 'Times New Roman';
}

ol,
ul {
  margin: 0;
  padding-left: 1.5rem;
}

i {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
  -webkit-tap-highlight-color: transparent !important;
}

.bad-input {
  background: rgba(235, 0, 0, 0.5) !important;
  border-color: rgb(245, 0, 0) !important;
  box-shadow: 0 0 1.5rem rgba(235, 0, 0, 0.5) !important;

  &:focus {
    border-color: rgb(255, 0, 0) !important;
  }
}

.bad-input-feedback {
  color: red !important;
  font-weight: bold;
}

.slant,
sup,
sub {
  font-family: 'Cambria', 'Times New Roman';
}

.unslant {
  font-style: normal !important;
}

.row {
  max-width: 40em;
  width: 100%;
  margin: auto;
  padding: 0 1em;
}

#left-elastic,
#right-elastic {
  height: 120%;
  width: 0;
  border-radius: 50%;
  z-index: 10;
  background: rgba(255, 0, 0, 0.3);
  position: fixed;
  top: -10%;
  transition: width 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#left-elastic {
  left: -6rem;
}

#right-elastic {
  right: -6rem;
}

.desktop .custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 0.75em;
  }

  &::-webkit-scrollbar-track {
    background: rgba(70, 70, 70, 0.7);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(255, 74, 42);
    border-radius: 0.5em;
  }
}
