#username {
  &::placeholder {
    color: #bbb;
  }

  &:hover {
    background-color: rgb(31, 84, 243);
    box-shadow: 0 0 1.5rem rgba(31, 84, 243, 0.8);
  }
}

#sign-in,
#sign-out {
  &:hover {
    background-color: rgb(255, 77, 45);
    box-shadow: 0 0 1.5rem rgba(255, 77, 45, 0.6);
  }
}

#sign-out-wrapper {
  text-align: center;
  margin: 2.5rem 0;
}

#sign-in-success {
  font-weight: bold;
  color: limegreen;
  padding: 0.625rem 1rem;
  text-align: center;
  font-style: italic;
}

#sign-in-page-footer {
  span {
    color: #444;
    display: block;
    margin: 0.25rem;
  }

  a {
    color: #888;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      color: #ccc;
    }
  }
}
