
#sign-in-page {
  overflow-y: auto;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 3rem 1rem;
  top: 0;
  left: 0;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

#username {
  width: 75%;
  max-width: 300px;
  height: 3rem;
  margin: 10px;
  padding: 10px 12px;
  border: none;
  background: royalblue;
  color: white;
  outline: none;
  font-size: 110%;
  border-radius: 3px;

  &::placeholder {
    color: white;
  }

  &:hover {
    background-color: rgb(31, 84, 243);
    box-shadow: 0 0 15px rgba(31, 84, 243, 0.8);
  }
}

#sign-in,
#sign-out {
  width: 40%;
  max-width: 200px;
  height: 45px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background: tomato;
  color: white;
  font-size: 105%;

  &:hover {
    background-color: rgb(255, 77, 45);
    box-shadow: 0 0 15px rgba(255, 77, 45, 0.6);
  }
}

#sign-out-wrapper {
  text-align: center;
  margin: 40px 0;
}

#sign-in-success {
  font-weight: bold;
  color: limegreen;
  padding: 10px 15px;
  text-align: center;
  font-style: italic;
}

#sign-in-page-footer {
  padding: 2rem;
  min-height: 200px;
  width: 100%;
  text-align: center;
  background: black;

  span {
    color: #555;
    font: normal 85% 'Trebuchet MS';
    display: block;
    margin: 5px;
  }

  a {
    color: #888;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      color: #ccc;
    }
  }
}
