$theme-bg-orange: rgb(255, 74, 42);

#question-solutions {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  background: black;
  padding: 0;
  padding-bottom: 10rem;
  position: absolute;
  top: 0;
  left: 0;

  #container {
    text-align: center;
  }

  input {
    width: 100%;
    display: block;
    max-width: 100%;
    margin: 1rem 0;
    padding: 0.35rem 0.7rem;
    border: 0.15rem solid #666;
    background: black;
    color: lightgrey;
    outline: none;
    border-radius: 0.25rem;
    transition: 0.3s;

    &:hover {
      color: white;
      border-color: deepskyblue;
      box-shadow: 0 0 1rem rgba(0, 139, 185, 0.5);
    }

    &:focus {
      background-color: rgba(0, 98, 131, 0.5);
    }
  }

  button#compute {
    width: 40%;
    max-width: 12rem;
    background: seagreen;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin: 0.5rem 0;
    border-radius: 2rem;
    box-shadow: 0 0.35rem 0 #005400;

    &:hover {
      background: rgb(35, 116, 70);
    }

    &:focus {
      box-shadow: 0 0.2rem 0 darkgreen;
      margin-top: 0.7rem;
      margin-bottom: 0.3rem;
    }
  }

  #result {
    transform: translateX(0);
    margin: 2rem 0;
    color: deepskyblue;
    text-align: center;
    overflow-x: auto;
  }

  #result2 {
    padding-top: 2rem;
  }

  #table-wrapper {
    width: 100%;
    transition: 0.8s;
  }

  table {
    width: 100%;
    border: 0.125rem solid #333;
    border-collapse: collapse;
    text-align: left;
    background: rgba(60, 60, 60, 0.6);
    color: white;
    font-family: 'Cambria', 'Times New Roman';
  }

  tfoot {
    font-weight: bold;
    padding: 0.325rem 0;
    text-align: left;
  }

  p {
    margin: 0.5rem 0;
  }

  td,
  th {
    border-collapse: collapse;
    border: 0.125rem solid #333;
    padding: 0.25rem 0.75rem;

    p {
      text-align: center;
    }
  }

  .brace-open,
  .brace-close {
    font-size: 3.25rem;
  }
}

.formula-wrapper {
  overflow-x: auto;
  padding: 1rem;
  font-size: 1.25rem !important;
  line-height: 1rem !important;
}

th {
  text-align: center;
  padding: 0.75rem;
}

th:first-child,
th:nth-child(2),
th:nth-child(7) {
  text-align: left;
}

td:first-child,
td:nth-child(2),
td:nth-child(5),
td:nth-child(6),
tfoot {
  white-space: nowrap;
}

.page-name {
  text-align: center;
  margin: 2.5rem auto;
}

#solutions-wrapper {
  display: none;
  flex-direction: column;
}

#mean-solution .variable-definitions {
  background: lightblue;
}

#median-solution .variable-definitions {
  background: #ffd58f;
}

#mode-solution .variable-definitions {
  background: #8eebb7;
}

#mean-solution .variable-definitions,
#median-solution .variable-definitions,
#mode-solution .variable-definitions {
  padding: 1rem;
  color: black;
  font-style: normal;

  font-family: 'Cambria', 'Times New Roman';
  border-radius: 0.5rem;
  margin: 1rem 0;
}

#mean-solution .variable-definitions b,
#median-solution .variable-definitions b,
#mode-solution .variable-definitions b {
  font-style: italic;
}

#mean-solution .formula-wrapper:nth-of-type(1) {
  background: #77bedb;
}

#median-solution .formula-wrapper:nth-of-type(1) {
  background: #eda55f;
}
#mode-solution .formula-wrapper:nth-of-type(1) {
  background: #5ebb87;
}

#mean-solution .formula-wrapper:nth-of-type(2),
#median-solution .formula-wrapper:nth-of-type(2),
#mode-solution .formula-wrapper:nth-of-type(2) {
  background: none;
  margin-top: 0;

  text-align: left;
  height: 6.5rem;
  font-style: normal;
}

#mean-solution .formula-wrapper:nth-of-type(3),
#median-solution .formula-wrapper:nth-of-type(3),
#mode-solution .formula-wrapper:nth-of-type(3) {
  background: none;
  margin-top: 0;

  text-align: left;
  height: 4rem;
  font-style: normal;
  white-space: nowrap;
}

#computed-mean,
#computed-median,
#computed-mode {
  font-style: normal;
  font-size: 1.3rem;
}
