
* {
  border: 1px solid yellow;
  border: none;
}

#welcome-page {
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background: black;
}

#intro-text-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #intro-text {
    text-align: center;
    // line-height: 145%;
    width: 94%;
    color: rgb(150, 150, 150);
    border: 5px solid rgba(170, 170, 170, 0.5);
    padding: 20px 20px;
  }
}

header {
  background: rgb(30, 30, 30);
  text-align: center;
}

h2 {
  color: rgba(170, 170, 170, 0.9);
  padding: 17px;
  margin: 0;
}

#fixedTop1,
#fixedTop2,
#fixedTop3 {
  top: -100%;
  left: 0;
  height: auto;
  z-index: 3;
  position: fixed;
  background: rgb(31, 84, 243);
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3), 0 2px 25px rgba(0, 0, 0, 0.3);
  // font-size: 110%;
}

.sub-heading {
  background: rgb(255, 74, 42);
  color: #eee;
  padding: 12px;
  margin: 0;
}

#fixedTop1 .sub-heading,
#fixedTop2 .sub-heading,
#fixedTop3 .sub-heading {
  background: rgb(31, 84, 243);
  height: 100%;
  padding: 1rem;
  // border-bottom: 3.5px solid tomato;
}

#welcome-page .rider {
  color: rgb(160, 160, 160);
}

.rider {
  color: white;
  padding: 10px;
  margin: 0;
}

#formulae-container header,
#question-solutions header,
#further-discussion header {
  background: tomato;
  margin-top: 3.5rem;
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

#formulae-container .rider,
#question-solutions .rider,
#further-discussion .rider {
  padding: 8px;
  text-shadow: 1px 0 0 dimgrey, -1px 0 0 dimgrey, 0 1px 0 dimgrey,
    0 -1px -0.5px dimgrey;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#buttons-wrapper {
  padding-bottom: 1rem;
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
}

#previous,
#next,
#pageUp1,
#pageUp2,
#pageUp3 {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(31, 84, 243);
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  cursor: pointer;

  span {
    margin-top: -0.2rem;
  }
}

#previous {
  left: 1rem;
  bottom: 1rem;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

#next {
  right: 1rem;
  bottom: 1rem;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

#pageUp1,
#pageUp2,
#pageUp3 {
  right: 1.25rem;
  bottom: 5rem;
  background: red;
  font-size: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

#buttons-wrapper a {
  color: white;
}

#pageNum {
  width: 80px;
  height: 35px;
  padding: 5px;
  background: rgba(50, 130, 50, 0.8);
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  line-height: normal;
  border: 2px solid lightgrey;
  opacity: 0.9;
  color: white;
  display: inline-block;
}
