#welcome-page {
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background: #101010;
  will-change: transform;
}

#intro-text-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;

  #intro-text {
    text-align: center;
    width: 94%;
    border: 0.25rem solid #999;
    padding: 1.25rem;
  }
}

header {
  background: #202020;
  text-align: center;
}
// #dd0077
h1,
h2 {
  color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  margin: 0;
}

#page-title-bar {
  transform: translateY(-110%);
  left: 0;
  height: 3.25em;
  position: fixed;
  z-index: 6;
  background: rgb(31, 84, 243);
  width: 100%;
  border-bottom: 0.25em solid rgba(10, 69, 247, 0.5);
  text-align: center;
  box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.3),
    0 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  transition: 0.5s;

  &[data-state='visible'] {
    transform: translateY(0);
  }

  .page-title {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1.1em;
    background: rgb(31, 84, 243);
    height: 100%;
    padding: 0.85em;
    opacity: 0;
    transition: 0.35s;
    color: #eee;
    margin: 0;

    &[data-state='visible'] {
      opacity: 1;
    }
  }
}

.sub-heading {
  background: #dd0077;
  color: #eee;
  padding: 0.45em;
  font-size: 1.1em;
  // border-top: 0.25em solid #e9eefe;
  //   border-bottom: 0.25em solid #e9eefe;
  margin: 0;
}

#welcome-page .rider {
  color: white;
}

.rider {
  color: white;
  padding: 0.55rem;
  margin: 0;
  font-size: 1em;
}

#mean-median-mode-page header,
#solve-questions-page header,
#further-discussion-page header {
  background: #dd0077;
  margin-top: 3.45em;
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

#mean-median-mode-page .rider,
#solve-questions-page .rider,
#further-discussion-page .rider {
  padding: 0.5rem;
  text-shadow: 1px 0 0 dimgrey, -1px 0 0 dimgrey, 0 1px 0 dimgrey,
    0 -1px -0.5px dimgrey;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

#buttons-wrapper {
  display: flex;
  height: 0;
  bottom: 0;
  justify-content: center;
  position: fixed;
  z-index: 6;
  transform: translateY(8rem);
  left: 0;
  width: 100%;
  text-align: center;

  &[data-state='hidden'] {
    display: none;
  }
}

#install,
#previous,
#next,
button[aria-label='go up'] {
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  background: rgb(31, 84, 243);
  border-color: royalblue;
  border-width: 0.215em;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.5);
  position: absolute;
  cursor: pointer;
  transition: 0.35s;

  &[data-state='hidden'] {
    display: none;
  }

  &:hover {
    border-style: inset;
  }

  &:focus {
    border-color: rgb(255, 255, 255) !important;
    border-style: solid !important;
  }
}

#install {
  left: 1.25rem;
  bottom: calc(2rem + 3em);
  background: green;
  border-color: #20a520;
  font-size: 1.3rem;
  height: 2.5em;
  min-height: 2.5em !important;
  width: 2.5em !important;
  transform: translateX(calc(-1.2rem - 4em));
  transition: 0.35s;

  &[data-state='visible'] {
    transform: translateX(0);
  }

  span {
    border-bottom: 0.125em solid;
    min-width: 1rem;
  }
}

#previous {
  left: 1rem;
  bottom: 1rem;
  transform: scale(0);

  &:hover {
    background-color: rgb(56, 99, 228);
  }
}

#next {
  right: 1rem;
  bottom: 1rem;
  transform: scale(0);

  &:hover {
    background-color: rgb(56, 99, 228);
  }
}

button[aria-label='go up'] {
  right: 1.25rem;
  bottom: calc(2rem + 3em);
  background: red;
  font-size: 1.3rem;
  height: 2.5em;
  min-height: 2.5em !important;
  width: 2.5em !important;
  transition: 0.35s;
  transform: scale(1);

  &[disabled] {
    transform: scale(0);
  }
}

#go-up-1 {
  background: #009b9b;
  border-color: #00bebe;
}

#go-up-2 {
  background: rgb(215, 0, 0);
  border-color: rgb(255, 0, 0);
}

#go-up-3 {
  background: #9100ff;
  border-color: #9e36ed;
}

#page-num {
  height: fit-content;
  position: absolute;
  bottom: 1rem;
  width: 5rem;
  padding: 0.3rem;
  background: rgba(50, 130, 50, 0.8);
  font-weight: bold;
  text-align: center;
  border-radius: 0.4rem;
  line-height: normal;
  border: 0.16rem solid lightgrey;
  opacity: 0.9;
  color: white;
  display: inline-block;
}
